<!DOCTYPE html>
<html lang="<% settings.locale %>" class="w3-theme">
<head>
  <meta charset="<% settings.charset %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><% IF title %><% title %><% ELSE %><% settings.appname %><% END %></title>
  <link rel="stylesheet" href="/css/xzz.css" />
  <link rel="stylesheet" href="/css/xzz-dark-grey.css" />
  <link rel="stylesheet" href="/css/xzz-fonts.css" />
  <link rel="icon" href="/favicon.ico" />
  <script type="text/javascript" src="/js/common.js"></script>
</head>

<body>

<!-- ~~~~~:: Banner ::~~~~~ -->
<header class="w3-bar w3-black" style="height:60px;">
  <div class="w3-bar-item w3-mobile"><a href="/"><img src="<% settings.logo %>" /></a></div>
  <div class="w3-bar-item w3-mobile"><a href="/" style="vertical-align:-25px;font-size:1.1em;font-weight:bold;text-decoration:none;"><% settings.title %></a></div>
  <div class="w3-bar-item w3-right w3-mobile"><a href="/login" style="vertical-align:-25px;font-size:0.85em;font-style:italic;text-decoration:none;"><% settings.citation %></a></div>
</header>

<!-- ~~~~~:: Navigation menu ::~~~~~ -->
<div class="w3-row w3-theme-l2">
  <div class="w3-threequarter w3-left w3-mobile">
    <div class="w3-bar">
      <!-- ~~~~~:: Plugins menu  ::~~~~~ -->
      <% IF menu.size %><% FOREACH key IN menu.keys.sort %><% FOREACH section IN menu.$key.keys.sort %><% UNLESS menu.$key.$section.items.defined %><a href= "<% menu.$key.$section.lower %>" class="w3-bar-item w3-button w3-mobile" style="height:40px;"><% section %></a>
      <% ELSE %><div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button" style="height:40px;"><% section %></button>
        <div class="w3-dropdown-content w3-bar-block w3-theme"><% FOREACH subsection IN menu.$key.$section.keys.sort %>
          <a href="<% menu.$key.$section.$subsection %>" class="w3-bar-item w3-button w3-mobile" style="height:40px;"><% subsection %></a><% END %>
	</div>
      </div><% END %><% END %><% END %><% END %>
      <!-- ~~~~~:: User menu  ::~~~~~ -->
      <% IF session.user %><div class="w3-dropdown-hover w3-mobile" style="height:40px;">
        <button class="w3-button" style="height:40px;"><% session.user %></button>
        <div class="w3-dropdown-content w3-bar-block w3-theme">
		<a href="/logout" class="w3-bar-item w3-button w3-mobile" style="height:40px;">Logout</a>
	</div>
      </div><% END %>
    </div>
  </div>
  <!-- ~~~~~:: Search field ::~~~~~ -->
  <div class="w3-quarter w3-right w3-mobile">
    <div class="w3-row">
      <div class="w3-col w3-theme-l1" style="width:47px;"><button class="w3-button" style="height:40px;"><i class="fa fa-search"></i></button></div>
      <div class="w3-rest"><input type="text" class="w3-input w3-mobile" style="height:40px;" placeholder="Search.."></div>
    </div>
  </div>
</div>
<!-- ~~~~~:: Main Section ::~~~~~ -->
<div class="w3-row w3-theme-l4">
  <!-- ~~~~~:: Content ::~~~~~ -->
  <div class="w3-threequarter w3-left w3-mobile w3-padding w3-theme-l5">
    <% content %>
  </div>
  <!-- ~~~~~:: Sidebar ::~~~~~ -->
  <div class="w3-quarter w3-right w3-mobile w3-padding">
    <!-- <% sidebar %> -->
  </div>
</div>

<!-- ~~~~~:: Footer ::~~~~~ -->
<footer class="w3-section w3-center w3-margin-top">
  <div class="w3-theme" style="font-size:0.85em;">Powered by <a href="http://perldancer.org/">Dancer2</a> and <a href="https://www.w3schools.com/w3css/">W3.CSS</a></div>
</footer>
</body>
</html>
